body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.login-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  /* Center aligning contents */
  width: 100%;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
  /* Reset text alignment for form elements */
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333;
  /* Text color for labels */
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
  font-size: 14px;
}

.flashing-steps-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-size: 20px;
  color: #007bff;
  /* Blue color */
}

.card-content {
  font-size: 16px;
  color: #555;
}

#start-flashing {
  margin-top: 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#start-flashing:hover {
  background-color: #0056b3;
}

.container {
  max-width: 600px;
  margin: 50px auto;
}

.progress-container {
  display: flex;
  justify-content: center;
}

.progress-circle {
  position: relative;
  width: 100px;
  height: 100px;
}

.progress-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}

.progress-svg {
  width: 100%;
  height: 100%;
}

.progress-background {
  fill: none;
  stroke: #e0e0e0;
  stroke-width: 8;
  stroke-linecap: round;
}

.progress-bar {
  fill: none;
  stroke: #007bff;
  stroke-width: 8;
  stroke-linecap: round;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  stroke-dasharray: 0, 285;
  transition: stroke-dasharray 0.5s ease;
}